html, body {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.hide {
	display: none;
}

/* index page */
#navbar {
	position: absolute;
	height: 30px;
	width: 100%;
	background: black;
	opacity: 0;
	z-index: 1;
}

#navbar a {
	color: white;
	text-decoration: none;
}

.navlink {
	position: relative;
	float: left;
	margin: 5px;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
}

.genericcard {
	position: absolute;
	background: white;
	right: 200px;
}

.cardoverlay {
	position: absolute;
	background: white;
	height: 100%;
	width: 100%;
	background-size: contain;
	opacity: .35;
}

#pageview {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
}
