html, body {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	overflow-x: hidden;
	background: url(/img/table.jpg);
	background-size: cover;
}

/* index page */
#navbar {
	height: 30px;
	width: 100%;
	background: black;
	opacity: 0;
}

#navbar a {
	color: white;
	text-decoration: none;
}

.navlink {
	position: relative;
	float: left;
	margin: 5px;
}

#content {
	height: 800px;
	width: 1920px;
}

.genericcard {
	position: absolute;
	background: white;
	right: 200px;
}

.cardoverlay {
	position: absolute;
	background: white;
	height: 100%;
	width: 100%;
	background-size: contain;
	opacity: .35;
}