#navbar {
	opacity: 1;
	z-index: 1;
}

#content {
	display: none;
}

#tree {
	position: relative;
	top: 35px;
	width: 85%;
	height: 100%;
	margin: 0 auto;
	background: url(/img/movealong.jpg) no-repeat center;
	background-size: contain;
}

.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	margin-right: 2px;
	background-color: teal;
}

