<div id="homeview" data-ng-controller="homecontroller">
	<div id="cardfan">
		<div id="cardstack">
			<div id="cards">
				<div class="card infocard" id="home" ng-click="go('/home')"><div class="navcard">Home</div></div>
				<div class="card infocard" id="fandom" ng-click="go('/fandom')"><div class="navcard">Fandom</div></div>
				<div class="card infocard" id="hpotter" ng-click="go('/harrypotter')"><div class="navcard">Potter</div></div>
				<div class="card infocard" id="binarytreetutorial" ng-click="go('/binarytree')"><div class="navcard">Binary Tree</div></div>
				<div class="card infocard" id="sudoku" ng-click="go('/sudoku')"><div class="navcard">Sudoku</div></div>
				<div class="card infocard" id="resume" ng-click="go('/resume')"><div class="navcard">Resume</div></div>
				<div class="card infocard" id="about" ng-click="go('/about')"><div class="navcard">About</div></div>
			</div>
		</div>
	</div>
</div>
