<div data-ng-controller="resumecontroller" id="resume">
	<div id="header">
		<div id="headername">Larry W. Scroggins, CPA</div>
		<div id="headercontact">
			<div id="address">819 Virginia St, Unit #1503 Seattle, WA 98101</div>
			<div id="contact">
				<div id="phone">(206) 883-6157</div>
				<div id="email">Larry.Scroggins@gmail.com</div>
			</div>
		</div>
	</div>

	<div class="resumebody">
		<div class="section" id="summary">
			<div class="sectiontitle" id="summaryhead">SUMMARY</div>
			<div class="sectiondetails" id="summary">I am a web developer excited by problem solving and getting into details that make processes stronger and more efficient. My background is in using analytics to identify process improvement opportunities and untapped financial returns. I want to combine my programming knowledge with my analysis background to create tools to help customers and clients.
			</div>
		</div>

		<div class="section" id="compentencies">
			<div class="sectiontitle" id="competencieshead">KEY COMPETENCIES</div>
			<div class="sectiondetails" id="competencies">
				<ul>
					<li>♦ JavaScript</li>
					<li>♦ HTML/CSS</li>
					<li>♦ Node</li>
					<li>♦ Angular</li>
					<li>♦ Backbone</li>
					<li>♦ jQuery</li>
					<li>♦ Data Analysis</li>
					<li>♦ D3JS</li>
				</ul>
			</div>
		</div>

		<div class="section" id="projects">
			<div class="sectiontitle" id="projectshead">PROJECTS</div>
			<div class="sectiondetails project" id="dsa">
				<div id="dsatitle"><a href="https://github.com/Data-Structure-Visualization/data-structure-visualization">Data Structures Tutorial</a></div>
				<div id="dsadescription">Using AngularJS and D3JS to create a to create a dynamic tutorial site to teach about creating and coding data structures.</div>
			</div>
			<div class="sectiondetails project" id="atw">
				<div id="atwtitle"><a href="https://github.com/FindAllTheThings/AlongTheWay">Along the Way</a></div>
				<div id="atwdescription">Used Backbone, Google Maps API, and Google Places API to create a web app showing places of interest on the user’s route.</div>
			</div>
		</div>

		<div class="section" id="jobs">
			<div class="sectiontitle" id="experiencehead">EXPERIENCE</div>
			<div class="job" id="blinkx">
				<div class="jobhead">
					<div class="companyname">Blinkx! / Rhythm1</div>
					<div class="location">SEATTLE, WA</div>
				</div>
				<div class="jobidsection">
					<div class="jobtitle">Junior JavaScript Developer</div>
					<div class="jobdates">2015-Present</div>
				</div>
				<div class="jobdescription">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="job" id="nordstrom">
				<div class="jobhead">
					<div class="companyname">NORDSTROM INC</div>
					<div class="location">SEATTLE, WA</div>
				</div>
				<div class="jobidsection">
					<div class="jobtitle">Internal Audit Principal/Data Analyst</div>
					<div class="jobdates">2007-2014</div>
				</div>
				<div class="jobdescription">
					<ul>
						<li>Identified an opportunity to increase receivables by $80 million through the use of ACL scripting.</li>
						<li>Identified $1.5 million discount abuse by scripting tests to monitor employee purchase activities.</li>
						<li>Managed project teams resulting in on-time and on-budget delivery of project deliverables.</li>
					</ul>
				</div>
			</div>
			<div class="job" id="blockbuster">
				<div class="jobhead">
					<div class="companyname">BLOCKBUSTER</div>
					<div class="location">DALLAS, TX</div>
				</div>
				<div class="jobidsection">
					<div class="jobtitle">Staff Auditor</div>
					<div class="jobdates">2005-2007</div>
				</div>
				<div class="jobdescription">
					<ul>
						<li>Performed domestic and international financial reviews where I identified €1.5 million in unpaid accounts receivables.</li>
						<li>Tested policies for compliance with company standards, including creating a new travel policy for Gamestation (UK).</li>
						<li>Spearheaded the implementation of ACL analytics software resulting in greater flexibility and return for audit projects.</li>
					</ul>
				</div>
			</div>
			<div class="job" id="DCAA">
				<div class="jobhead">
					<div class="companyname">DEFENSE CONTRACT AUDIT AGENCY</div>
					<div class="location">DALLAS, TX</div>
				</div>
				<div class="jobidsection">
					<div class="jobtitle">Staff Auditor</div>
					<div class="jobdates">2004-2004</div>
				</div>
				<div class="jobdescription">
					<ul>
						<li>Identified and reviewed risk areas with process owners to establish audit scope.</li>
						<li>Managed time budgets and additional staff for efficient audit completion.</li>
						<li>Evaluated contract costs through the use of varied quantitative methods.</li>
					</ul>
				</div>
			</div>
			<div class="job" id="universal">
				<div class="jobhead">
					<div class="companyname">NBC UNIVERSAL INC</div>
					<div class="location">DALLAS, TX</div>
				</div>
				<div class="jobidsection">
					<div class="jobtitle">Senior A/R Coordinator</div>
					<div class="jobdates">1998-2004</div>
				</div>
				<div class="jobdescription">
					<ul>
						<li>Allocated payments to customer accounts and followed-up on past due billings resulting in shorter payment cycles.</li>
						<li>Implemented analytics based monitoring of employee productivity that resulted in accelerated billing.</li>
						<li>Performed quality control testing and training on new A/R system resulting in smooth user adoption.</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="section" id="education">
			<div class="sectiontitle" id="educationhead">EDUCATION</div>
			<div class="school" id="codefellows">
				<div class="schoolhead">
					<div class="schoolname">CODE FELLOWS</div>
					<div class="location">SEATTLE, WA</div>
				</div>
				<div class="schooldetails">
					<div class="degree">Certificate, Full-Stack JavaScript Engineering</div>
					<div class="schooldates">2014</div>
				</div>
			</div>
			<div class="school"  id="utd">
				<div class="schoolhead">
					<div class="schoolname">UNIVERSITY OF TEXAS @ DALLAS</div>
					<div class="location">RICHARDSON, TX</div>
				</div>
				<div class="schooldetails">
					<div class="degree">Master of Business Administration</div>
					<div class="schooldates">2008</div>
					<div class="degree">Master of Science, Accounting</div>
					<div class="schooldates">2004</div>
				</div>
			</div>
			<div class="school" id="unt">
				<div class="schoolhead">
					<div class="schoolname">UNIVERSITY OF NORTH TEXAS</div>
					<div class="location">DENTON, TX</div>
				</div>
				<div class="schooldetails">
					<div class="degree">Bachelor of Arts, Psychology</div>
					<div class="schooldates">1998</div>
				</div>
			</div>
		</div>

		<div class="section" id="certifications">
			<div class="sectiontitle" id="certificationhead">CERTIFICATIONS</div>
			<div class="certification">
				<div class="certname">Certified Public Accountant</div>
				<div class="certissued">Texas</div>
				<div class="certdate">2005</div>
				<div class="certstatus">Inactive</div>
			</div>
			<div class="certification">
				<div class="certname">Certified Risk Management Auditor</div>
				<div class="certissued">Washington</div>
				<div class="certdate">2013</div>
				<div class="certstatus">Inactive</div>
			</div>
		</div>
	</div>
</div>